<div class="container">
    <div class="row">
        <div class="col-6"  >
            <label>Student name</label>
            <input [(ngModel)]="studentname" type="text">
        </div>
        <div class="col-6"  >
            <label>password</label>
            <input [(ngModel)]="password" type="text">
        </div>
    </div>
    <button (click)="submitform()" >submit</button>
    <button (click)="updateform()" *ngIf="updatebtn" >update</button>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>sl.no</th>
                <th>name</th>
                <th>password</th>
                <th>delete</th>
                <th>update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tdata;let i = index" >
                <td>{{i + 1}}</td>
                <td>{{data['studentname']}}</td>
                <td>{{data['password']}}</td>
                <td><button (click)="delete(data)" >delete</button></td>
                <td><button (click)="update(data)" >update</button></td>
            </tr>
        </tbody>
    </table>
</div>